/*------------------------------------------------  codigo plantilla form 1--------------------------------------------------- */
body{
    font-size: 19px;
}
.contenedor-formulario-simulacion{
    width: 70%;
    min-height: 500px;
    background-color: white;
    border: white solid 1px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #b4b4b4;
    padding: 10px 30px;
}

.titulo-simulacion{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin: 0.94rem auto;
    margin-bottom: 0.2rem;
    font-weight: bold;
}

.titulo-seccion{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
    margin-bottom: 1.6rem;
    margin-top: 0.6rem;
    border-bottom: 3px solid  rgb(99, 99, 99);
    color: rgb(70, 70, 70);
}

label{
    white-space: nowrap;
}


.cotenedor-fieldset{
    border: #b4b4b4 solid 1px;
    border-radius: 10px;
    padding: 25px 10px 10px 10px;
    margin: 10px;
    margin-bottom: 15px;
    position: relative;
}

.cotenedor-legenda{
    position: absolute;
    font-size: 1.3rem;
    font-weight: bold;
    top: -1rem;
    left: 1rem;
    background-color: white;
    padding: 0px 15px;
}

.input-grande{
    min-width: 200px;

}
.input-mediano{
    min-width: 100px;

}

.input-pequenio{
    min-width: 50px;

}



textarea{
    resize: vertical;
    padding-right: 5px!important;
    font-size: 1rem!important;
}
textarea::-webkit-scrollbar{
    width: 13px;
    border-radius: 15px;
}

textarea::-webkit-scrollbar-thumb{
    background: #a1a1a1;
    border-radius: 5px;
    border: 3px solid white;
}

textarea::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.titulo-tabla-tipo1{
    font-size: 0.9rem;
    text-align: center;
    vertical-align: middle;
}

.btn-agregar-tabla-tipo1{
    margin: 3px 10px 3px auto;
    font-size: 0.8rem;
}
.btn-agregar-tabla-tipo1 i{
    margin-right: 5px;
}


/*------------------------------------------------  codigo plantilla form 2--------------------------------------------------- */
/*------------------------------------------------  codigo plantilla form 3--------------------------------------------------- */
/*------------------------------------------------  codigo plantilla form 4--------------------------------------------------- */
/*------------------------------------------------  codigo plantilla form 5--------------------------------------------------- */


/*------------------------------------------------   reponsive  --------------------------------------------------- */

@media (max-width : 1300px ){
    body{
        font-size: 17px;
    }
    .contenedor-formulario-simulacion{
        width: 80%;
    }
    .titulo-seccion{
        font-size: 1.4rem;
    }
}

@media (max-width : 800px ){
    body{
        font-size: 15px;
    }
    .titulo-simulacion{
        font-size: 1.5rem;
    }
    .contenedor-formulario-simulacion{
        width: 90%;
    }
    .cotenedor-legenda{
       
        font-size: 1.2rem;
    }

    .titulo-seccion{
        font-size: 1.3rem;
    }
    
}

@media (max-width : 500px ){
    body{
        font-size: 13px;
    }
    .titulo-simulacion{
        font-size: 1.2rem;
    }

    .contenedor-formulario-simulacion{
        width: 97%;
        padding: 5px 10px;
    }
    
    .cotenedor-legenda{
       
        font-size: 1.1rem;
    }

    .titulo-seccion{
        font-size: 1.1rem;
    }
}