/*------------------------------------------------  codigo plantilla form 1--------------------------------------------------- */
body {
    font-size: 17px;
}

.contenedor-formulario-simulacion {
    width: 70%;
    min-height: 500px;
    background-color: white;
    border: white solid 1px;
    margin: 70px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #b4b4b4;
    padding: 10px 30px;
    position: relative;
}

.pestaniaSimulacion {
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: absolute;
    background-color: transparent;
    top: -60px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 1;

}

.pestaniaSimulacion .form-select {
    font-size: 1rem !important;
    outline: none;
    cursor: pointer;
}

.pestaniaSimulacion .btn-guardar-simulacion {
    font-size: 1rem !important;
    outline: none;
    cursor: pointer;
    height: 42px;
    min-width: 120px;
    padding: 0px 10px;
    border: 1px solid #dee2e6;
    background: #fff;
    border-radius: 0.5rem;
    color: #212529;
}

.pestaniaSimulacion .btn-guardar-simulacion:hover {
    background: #e2e2e2;
}


.pestaniaSimulacion .btn-exportar-simulacion {
    font-size: 1rem !important;
    outline: none;
    cursor: pointer;
    height: 42px;
    padding: 0px 15px;
    border: 1px solid #dee2e6;
    background: #fff;
    border-radius: 0.5rem;
    color: #212529;
}

.pestaniaSimulacion .btn-exportar-simulacion:hover {
    background: #e2e2e2;
}



.titulo-simulacion {
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
    margin: 0.94rem auto;
    margin-bottom: 0.2rem;
    font-weight: bold;
}

.titulo-seccion {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
    margin-bottom: 1.6rem;
    margin-top: 0.6rem;
    border-bottom: 2px solid rgb(99, 99, 99);
    color: rgb(70, 70, 70);
}

label {
    white-space: nowrap;
}


.cotenedor-fieldset {
    border: #b4b4b4 solid 1px;
    border-radius: 10px;
    padding: 25px 10px 10px 10px;
    margin: 10px;
    margin-bottom: 15px;
    position: relative;
}

.cotenedor-legenda {
    position: absolute;
    font-size: 1.3rem;
    font-weight: bold;
    top: -1rem;
    left: 1rem;
    background-color: white;
    padding: 0px 15px;
}

.input-grande {
    min-width: 200px;

}

.input-mediano {
    min-width: 100px;

}

.input-pequenio {
    min-width: 50px;

}



textarea {
    resize: vertical;
    padding-right: 5px !important;
    font-size: 1rem !important;
}

textarea::-webkit-scrollbar {
    width: 13px;
    border-radius: 15px;
}

textarea::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border-radius: 5px;
    border: 3px solid white;
}

textarea::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.titulo-tabla-tipo1 {
    font-size: 0.9rem;
    text-align: center;
    vertical-align: middle;
}

.btn-agregar-tabla-tipo1 {
    margin: 3px 10px 3px auto;
    font-size: 0.8rem;
}

.btn-agregar-tabla-tipo1 i {
    margin-right: 5px;
}

.tabla-tipo2 th {
    font-size: 0.9rem;
    vertical-align: middle;
    text-align: center;

}

.tabla-tipo2 td,
input {
    text-align: center;

}

.tabla-tipo2 input {
    padding: 2px 4px;

}

.tabla-tipo2 button {
    padding: 0.6rem;
    line-height: 1;
    font-size: 0.875rem;

}

.tabla-tipo2-celda-pequenia {
    width: 110px;
}

.tabla-tipo2-celda-btn {
    width: 60px;
}

.oculto {
    display: none;
}


/*------------------------------------------------  codigo plantilla form 2--------------------------------------------------- */
/*------------------------------------------------  codigo plantilla form Presupuesto Total --------------------------------------------------- */

.table-resumen-total-proyecto,
.table-desembolsos th {
    text-align: center;
    vertical-align: middle;
}

.table-resumen-total-proyecto,
.table-desembolsos td {
    text-align: center;
    vertical-align: middle;
}

.table-resumen-total-proyecto .mensaje,
.table-desembolsos .mensaje {
    background-color: #FFFB69;
}

/*------------------------------------------------  codigo plantilla costos --------------------------------------------------- */

.formulario-costos {
    display: flex;
    flex-direction: column;
}

.rango-venta-mes {
    display: flex;
    flex-direction: column;

}


.rango-venta-mes input {
    margin-bottom: 8px;
    text-align: left;
}

.comportamiento-ventas-mes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

}

.comportamiento-mes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}




.comportamiento-mes select {
    width: 95px;
    margin-bottom: 8px;
}

.tabla-manofactura-producto-servicios {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    padding: 10px 0px;
    margin-bottom: 25px;
}

.tabla-manofactura-producto-servicios input {
    min-width: 120px;
    text-overflow: ellipsis;
}

.tabla-manofactura-producto-servicios select {
    min-width: 150px;
    text-overflow: ellipsis;
}

.tabla-manofactura-producto-servicios::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    border-radius: 20px;
}

.tabla-manofactura-producto-servicios::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border-radius: 5px;
    border: 3px solid white;
}

.tabla-manofactura-producto-servicios::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.tabla-ventas-costos-mensuales input {
    border: none;
    padding: 0px;
    text-overflow: ellipsis;

}

.tabla-ventas-costos-mensuales td {
    text-align: center;

}

/*------------------------------------------------  codigo plantilla FLUJO --------------------------------------------------- */

.seccion-costos-operativos {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.seccion-analisis-finaciero {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 20px;
}


.seccion-utilidad-credito {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contenedor-dato-costos-opetativos {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.contenedor-dato-costos-opetativos label {
    min-width: 175px;
    vertical-align: middle !important;
    margin: auto;

}

.seccion-credito {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.contenedor-dato-credito {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.contenedor-dato-credito label {
    min-width: 175px;
    vertical-align: middle !important;
    margin: auto;

}


.contenedor-tabla-flujo {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}

.contenedor-tabla-flujo::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    border-radius: 20px;
}

.contenedor-tabla-flujo::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border-radius: 5px;
    border: 3px solid white;
}

.contenedor-tabla-flujo::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.input-tabla-flujo {
    min-width: 150px;
    text-overflow: ellipsis;
}

.contenedor-tabla-flujo td {
    text-wrap: nowrap;
    vertical-align: middle;
}

/*------------------------------------------------   reponsive  --------------------------------------------------- */

@media (max-width : 1500px) {

    .contenedor-formulario-simulacion {
        width: 85%;
    }
}

@media (max-width : 1300px) {
    body {
        font-size: 17px;
    }

    .titulo-seccion {
        font-size: 1.4rem;
    }
}

@media (max-width : 800px) {
    body {
        font-size: 15px;
    }

    .titulo-simulacion {
        font-size: 1.5rem;
    }

    .contenedor-formulario-simulacion {
        width: 90%;
    }

    .cotenedor-legenda {

        font-size: 1.2rem;
    }

    .titulo-seccion {
        font-size: 1.2rem;
    }

    .tabla-tipo2 th {
        font-size: 0.7rem;

    }

}

@media (max-width : 500px) {
    body {
        font-size: 13px;
    }

    .titulo-simulacion {
        font-size: 1.2rem;
    }

    .contenedor-formulario-simulacion {
        width: 97%;
        padding: 5px 10px;
    }

    .cotenedor-legenda {

        font-size: 1.1rem;
    }

    .titulo-seccion {
        font-size: 1rem;
    }
}